/node_modules/
/src/
/build/spec/
/build/tests/
/build/coverage/
/.vscode
**/*.md
.travis.yml
package.json
package-lock.json
testy.json
tsconfig.json
tslint.json

# Logos
**/*.pdf
**/*.png
**/*.svg
**/*.jpg